*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
   
}
.main_box{
    background: url("photo.jpg");
    height: 100vh;
}

.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 20px;
    line-height: 60px;
    cursor: pointer;
}
.sidebar_menu{
    position:fixed;
    height: 100vh;
    background-color: rgb(255, 255, 255,0.4);
    width: 310px;
    box-shadow: 0 0 6px rgb(161, 157, 157);
    left: -380px;
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    box-shadow: 0 0 6px rgb(161, 157, 157);
    position: absolute;
    width: 100%;
    line-height: 60px;
}
.sidebar_menu .logo a{
    color: white;
    font-size: 25px; ;
    left: 55px;
    position:absolute;
    text-decoration: none;
    font-weight: 600;
    padding-left: 7%;
}
.sidebar_menu .btn_two i{
    color: grey;
    font-size: 30px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    /* opacity: 0; */
    cursor: pointer;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;

}
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 25%;
    bottom:40px;

}
.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 6px;
    
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgb(19, 18, 18);
}
.btn_two i:hover{
    font-size: 30px;
    color: black;
}
.btn_one i:hover{
    font-size: 40px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.5);
    color: black;
}
#check:checked ~ .sidebar_menu{
    left: 0;

}
#check:checked ~ .btn_one{
    opacity: -0;
}
